.horizontal-line{
    margin: 50px;
}
.footer-logo{
    width: 100px;
    height: 50px;
    margin-bottom: 25px;
}
.footer-description{
    font-size: 14px;
    line-height: 24px;
    text-align: start;
    margin-left: 80px;
    margin-bottom: 30px;
}
.footer-contact{
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}
.copyright{
    color: #2CAEE2;
    font-size: 14px;
}