.our-service-title{
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-top: 80px;
}
.our-service-description{
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
}
.our-service-img{
    margin-top: 50px;
}
.our-service-details{
    font-size: 14px;
    line-height: 24px;
    text-align: start;
    margin-top: 30px;
    color: black;
    margin-right: 150px;
}
.our-service-btn-style{
    width: 180px;
    height: 42px;
    border-radius: 72px;
    border: 1px white;
    color: white;
    background-color: #2CAEE2;
    margin-top: 25px;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 60px;
}
.service-link{
    text-align: start;
    font-size: 18px;
    line-height: 28px;
}
.service-link a{
    text-decoration: none;
    color: #333333;
    font-weight: 500;
}
.service-link a:hover{
    color: #2CAEE2;
}